{% extends "base.html" %}

{% load static %}

{% block content %}
                                                                              
<!-- Page top Section -->
<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto text-white">
                <h2>Trainers details</h2>
            </div>
        </div>
    </div>
</section>
<!-- Page top Section end -->

<!-- Trainers Section -->
<section class="trainer-details-section spad overflow-hidden">
    <div class="container">
        <div class="trainer-details">
            <div class="trainer-info">
                <div class="td-left">
                    <img src="{{ image }}" alt="">
                    <div class="td-social">

                        {% for title, link in hyperlinks.items %}
                            <a href="{{ link }}"" target="blank"><i class="fa fa-{{ title }}"></i></a>
                        {% endfor %}

                    </div>
                </div>
                <div class="td-right">
                    <h3>{{ name }}</h3>
                    <h6>{{ title }}</h6>
                    <ul>
                        <li><strong>Experience:</strong><p>{{experience}} years</p></li>
                        <li><strong>Email:</strong><a href="mailto:{{email}}"><p>{{email}}</p></a></li>
                        <li><strong>Biography:</strong><p>{{bio}}</p></li>
                    </ul>
		    <a href="{% url "classes" %}" class="site-btn sb-gradient">View classes</a>
                </div>
            </div>
            <div class="trainer-details-text">
                <h3>{{paragraph_title}}</h3>
                <p>{{paragraph_description}}</p>
                <ul>
                    {% for title in archivements %}
                    <li>
                        <i class="material-icons">check_circle</i>
                        {{ title }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Trainers Section end -->

{% endblock content %}
