{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Infor Model -->
<div class="infor-model-warp">
    <div class="infor-model d-flex align-items-center">
        <div class="infor-close">
            <i class="material-icons">close</i>
        </div>
        <div class="infor-middle">
            <a href="#" class="infor-logo">
                <img src="{% static 'img/logo-2.png' %}" alt="">
            </a>
            <div class="insta-imgs">
                <div class="insta-item">
                    <div class="insta-img">
                        <img src="{% static 'img/infor/1.jpg' %}" alt="">
                        <div class="insta-hover">
                            <i class="fa fa-instagram"></i>
                            <p>ahana.yoga</p>
                        </div>
                    </div>
                </div>
                <div class="insta-item">
                    <div class="insta-img">
                        <img src="{% static 'img/infor/2.jpg' %}" alt="">
                        <div class="insta-hover">
                            <i class="fa fa-instagram"></i>
                            <p>ahana.yoga</p>
                        </div>
                    </div>
                </div>
                <div class="insta-item">
                    <div class="insta-img">
                        <img src="{% static 'img/infor/3.jpg' %}" alt="">
                        <div class="insta-hover">
                            <i class="fa fa-instagram"></i>
                            <p>ahana.yoga</p>
                        </div>
                    </div>
                </div>
                <div class="insta-item">
                    <div class="insta-img">
                        <img src="{% static 'img/infor/4.jpg' %}" alt="">
                        <div class="insta-hover">
                            <i class="fa fa-instagram"></i>
                            <p>ahana.yoga</p>
                        </div>
                    </div>
                </div>
                <div class="insta-item">
                    <div class="insta-img">
                        <img src="{% static 'img/infor/5.jpg' %}" alt="">
                        <div class="insta-hover">
                            <i class="fa fa-instagram"></i>
                            <p>ahana.yoga</p>
                        </div>
                    </div>
                </div>
                <div class="insta-item">
                    <div class="insta-img">
                        <img src="{% static 'img/infor/6.jpg' %}" alt="">
                        <div class="insta-hover">
                            <i class="fa fa-instagram"></i>
                            <p>ahana.yoga</p>
                        </div>
                    </div>
                </div>
            </div>
            <form class="infor-form">
                <input type="text" placeholder="Your Email">
                <button><img src="{% static 'img/icons/send.png' %}" alt=""></button>
            </form>
            <div class="insta-social">
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Infor Model end -->
                                                                              
<!-- Page top Section -->
<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto text-white">
                <h2>Trainers details</h2>
            </div>
        </div>
    </div>
</section>
<!-- Page top Section end -->

<!-- Trainers Section -->
<section class="trainer-details-section spad overflow-hidden">
    <div class="container">
        <div class="trainer-details">
            <div class="trainer-info">
                <div class="td-left">
                    <img src="/{{ image }}" alt="">
                    <div class="td-social">

                        {% for title, link in hyperlinks.items %}
                            <a href="{{ link }}"" target="blank"><i class="fa fa-{{ title }}"></i></a>
                        {% endfor %}

                    </div>
                </div>
                <div class="td-right">
                    <h3>{{ name }}</h3>
                    <h6>{{ title }}</h6>
                    <ul>
                        <li><strong>Experience:</strong><p>{{experience}} years</p></li>
                        <li><strong>Email:</strong><a href="mailto:{{email}}"><p>{{email}}</p></a></li>
                        <li><strong>Biography:</strong><p>{{bio}}</p></li>
                    </ul>
                    <a href="#" class="site-btn sb-gradient">View classes</a>
                </div>
            </div>
            <div class="trainer-details-text">
                <h3>{{paragraph_title}}</h3>
                <p>{{paragraph_description}}</p>
                <ul>
                    {% comment %} <li><i class="material-icons">check_circle</i>Gold Medal for International Yoga Championship 2012.</li>
                    <li><i class="material-icons">check_circle</i>Silver Medal of All High Schools Championship and Indian Yoga Club in 2010.</li>
                    <li><i class="material-icons">check_circle</i>Gold Medal for Jharkhand State Yoga Championship in 2007.</li>
                    <li><i class="material-icons">check_circle</i>Gold Medal for East India Yoga Championship in 2005.</li> {% endcomment %}

                    {% for title in archivements %}
                    <li>
                        <i class="material-icons">check_circle</i>
                        {{ title }}
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Trainers Section end -->


{% endblock content %}