{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Page top Section -->
<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto text-white">
                <h2>Our classes</h2>
            </div>
        </div>
    </div>
</section>
<!-- Page top Section end -->

<!-- Classes Section -->
<section class="classes-page-section spad overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="classes-item-warp">
                            <div class="classes-item">
                                <div class="ci-img">
                                    <img src="{% static 'img/classes/3.jpg' %}" alt="">
                                </div>
                                <div class="ci-text">
                                    <h4>Yoga Therapy</h4>
                                    <div class="ci-metas">
                                        <div class="ci-meta"><i class="material-icons">event_available</i>Mon, Wed, Fri</div>
                                        <div class="ci-meta"><i class="material-icons">alarm_on</i>06:30pm - 07:45pm</div>
                                    </div>
                                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %}  YOUTUBE VIDEIOS
                <div class="col-lg-3 col-md-5 col-sm-8 sidebar">
                    <div class="sb-widget">
                        <div class="sb-video">
                            <img src="{% static 'img/video.jpg' %}" alt="">
                            <a href="https://www.youtube.com/watch?v=vgv-hzTl5FA" class="video-popup"><img src="{% static 'img/icons/play.png' %}" alt=""></a>
                        </div>
                    </div>
                </div> 
            {% endcomment %}
        </div>
    </div>
</section>
<!-- Classes Section end -->

{% endblock content %}