{% load static %}

<!-- Gallery Section -->
<div class="gallery-section">
    <div class="gallery-slider owl-carousel">
        {% for image in images %}
            <div class="gs-item">
                {% if image %}
                    <img src="{{ image }}">
                {% endif %}
                <div class="gs-hover">
                    <i class="fa fa-instagram"></i>
                    <p>diksha_fitness_studio</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- Gallery Section end -->

<!-- Footer Section -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <div class="about-widget">
                        <img src="{% static 'img/logo.png' %}" alt="">
                        <p>Unveil your inner strength, sculpt your body, and embrace a healthier, more confident you with every step, stretch, and lift</p>
                        <ul>
                            <li><i class="material-icons">phone</i>
                                <a href="tel:+919975336402">+91 9975336402</a>
                            </li>
                            <li><i class="material-icons">email</i><a href="mailto:kadamdiksha2002@gmail.com">kadamdiksha2002@gmail.com</a></li>
                            <li><i class="material-icons">map</i>R.S.No.1028/16, Plot No.2, Swabhimani Mart Building, Near Podar School, Sunanda Park, Kolhapur</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget pl-0 pl-lg-5">
                    <h2 class="fw-title">Open time</h2>
                    <ul>
                        <li><i class="material-icons">alarm_on</i>Mon - Sat:  Morning 6 to 8 and Evening 4 to 6</li>
                        <li><i class="material-icons">alarm_on</i>Sun: Holiday</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            <div class="col-md-8 text-md-right">
                <div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This project is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.siberindia.edu.in/" target="_blank">CSIBER</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
            </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section end -->
