{% load static %}

<!-- Header Section -->
<header class="header-section">
    <div class="header-top">
        <div class="row m-0" style="position:static">
            <div class="col-md-6 d-none d-md-block p-0">
                <div class="header-info">
                    <i class="material-icons">map</i>
                    <p>change addr</p>
                </div>
                <div class="header-info">
                    <i class="material-icons">phone</i>
                    <p><a href="tel:919975336402">+91 99753 36402</a></p>
                </div>
            </div>
            <div class="col-md-6 text-left text-md-right p-0">
                <div class="header-info d-none d-md-inline-flex">
                    <i class="material-icons">alarm_on</i>
                    <p>Mon - Fri:  6:30am - 07:45pm</p>
                </div>
                {% comment %} 
                    <div class="header-info">
                        <i class="material-icons">language</i>
                        <select id="language" class="language-select">
                            <option data-display="Language">EN</option>
                            <option data-display="Language" value="1">ES</option>
                            <option data-display="Language" value="2">JA</option>
                            <option data-display="Language" value="2">AR</option>
                        </select>
                    </div> 
                {% endcomment %}
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <a href="" class="site-logo">
            <img src="{% static 'img/logo.png' %}" alt="homepage">
        </a>
        <div class="hb-right">
            <div class="hb-switch" id="search-switch">
                <img src="{% static 'img/icons/search.png' %}" alt="">
            </div>
            <div class="hb-switch" id="infor-switch">
                <img src="{% static 'img/icons/bars.png' %}" alt="">
            </div>
        </div>
        <div class="container">
            <ul class="main-menu">
                <li><a href="{% url "homepage" %}" class="active">Home</a></li>
                <li><a href="{% url "about" %}">About</a></li>
                <li><a href="classes.html">Classes</a>
                    <ul class="sub-menu">
                        <li><a href="classes.html">Our Claasses</a></li>
                        <li><a href="classes-details.html">Claasses Details</a></li>
                    </ul>
                </li>
                {% comment %} <li><a href="trainer.html">trainers</a>
                    <ul class="sub-menu">
                        <li><a href="trainer.html">Our Trainers</a></li>
                        <li><a href="trainer-details.html">Trainers Details</a></li>
                    </ul>
                </li> {% endcomment %}
                <li><a href="events.html">events</a>
                    <ul class="sub-menu">
                        <li><a href="events.html">Our Events</a></li>
                        <li><a href="event-details.html">Events Details</a></li>
                    </ul>
                {% comment %} </li>
                <li><a href="blog.html">Blog</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">Our Blog</a></li>
                        <li><a href="single-blog.html">Blog Details</a></li>
                    </ul>
                </li> {% endcomment %}
                <li><a href="{% url "contact" %}">Contact</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- Header Section end -->