{% extends "base.html" %} 

{% block title %} {{ event.title }} {% endblock title%} 

{% block content %}

<!-- Page top Section -->
<section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 m-auto text-white">
        <h2>Event details</h2>
        <p>{{ event.title }}</p>
      </div>
    </div>
  </div>
</section>
<!-- Page top Section end -->

<!-- Event Details Section -->
<section class="event-details-section spad overflow-hidden">
  <div class="container">
    <div class="event-preview" id="slide">
      <img src="{{ event.image.url }}" alt="{{ event.title }}" />
    </div>
    <div class="row">
      <div class="col-lg-9">
        <div class="event-details">
          <div class="row">
            <div class="col-md-8">
              <h2>{{ event.title }}</h2>
              <div class="ed-meta">
                <p>
                  <i class="material-icons">alarm_on</i>{{ event.time }} Mins
                </p>
              </div>
              <div class="ed-meta">
                <p>
                  <i class="material-icons">people_outline</i>50+ People Registered
                </p>
              </div>
            </div>
            {% comment %}
            <div class="col-md-4 text-left text-md-right">
              <div class="ed-note">Advanced</div>
            </div>
            {% endcomment %}
          </div>
          <p>{{ event.description | safe }}</p>
        </div>

        <h3 class="comment-title">Other Events</h3>
        <div class="event-other-slider owl-carousel">
            {% for e in events %}
              <div class="event-item">
                <div class="ei-img">
                  <img src="{{ e.image.url }}" alt="{{ e.title }}" />
                </div>
                <div class="ei-text">
                  <h4><a href="/events/{{ e.slug }}">{{ e.title }}</a></h4>
                  <ul>
                    <li><i class="material-icons">person</i>Diksha Kadam</li>
                    <li><i class="material-icons">event_available</i>{{ e.date }}</li>
                    <li><i class="material-icons">map</i>At Diksha Fitness Studio</li>
                  </ul>
                </div>
              </div>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
</section>
<!-- Event Details Section end -->

<script>
  gsap.from("#slide", {
    y: 500,
    opacity: 0,
    duration: 1.2,

    scrollTrigger: {
      trigger: '#slide',
      scroller: 'body',
      start: "top 130%",
      end: "top 150%",
      scrub: 2.5,
    }
  })
</script>

{% endblock content %}
