{% extends "base.html" %}

{% load static %}

{% load static %}

{% block title %} Events {% endblock title %}

{% block content %}

<!-- Page top Section -->
<section class="page-top-section page-sp set-bg" data-setbg="{% static "img/page-top-bg.jpg" %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto text-white">
                <h2>All Events</h2>
                <p>"Empowering Bodies, Elevating Minds: Your Journey to Fitness Starts Here."</p>
            </div>
        </div>
    </div>
</section>
<!-- Page top Section end -->

<div class="container">
    <div class="event-filter-warp">
        <div class="row">
            <div class="col-xl-3">
                <p> {{ events|length }} evnets found</p>
            </div>
            <div class="col-xl-9">
                <form class="event-filter-form" method="GET" action="{% url "event:home" %}">
                    <div class="ef-item">
                        <input type="text" name="eventDate" placeholder="Event Date" class="event-date"
                            {% if dateValue %} value='{{ dateValue }}' {% endif %}
                        >
                        <i class="material-icons">event_available</i>
                        {% comment %} <input type="date" name="eventDate" placeholder="Event Date"> {% endcomment %}
                    </div>
                    <div class="ef-item">
                        <input type="text" placeholder="Search" name="search"
                        {% if searchValue %} value='{{ searchValue }}' {% endif %}
                        >
                        <i class="material-icons">search</i>
                    </div>
                    <input type='submit' value="Find Event" class="site-btn sb-gradient" ></input>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Events Section -->
<section class="events-page-section spad">
    <div class="container">
        <div class="row">

                {% if events|length > 0 %}
                    {% for event in events %}
                        <div class="col-lg-6">
                            <div class="event-item"
                                id={% if forloop.counter|divisibleby:2 %} 'right' {% else %} 'left' {% endif %}
                            >
                                <div class="ei-img">
                                    <img src="media/{{ event.image.name }}" alt="">
                                </div>
                                <div class="ei-text">
                                    <h4><a href="/events/{{ event.slug }}">{{ event.title | capfirst | safe }}</a></h4>
                                    <ul>
                                        <li><i class="material-icons">person</i>Diksha Kadam</li>
                                        <li><i class="material-icons">event_available</i>{{ event.date }}</li>
                                        <li><i class="material-icons">map</i>At Diksha Fitness Studio</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                        <h3 align='center'>No data found!</h3>
                {% endif %}

        </div>

        {% comment %} <div class="site-pagination pt-3">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#"><i class="material-icons">keyboard_arrow_right</i></a>
        </div> {% endcomment %}
    </div>
</section>
<!-- Events Section end -->

<script src="{% static "js/animations/event.js" %}"></script>

{% endblock content %}